[Desktop Entry]
Type=Application
Exec=siduction-irc
Icon=siduction-irc
Name=IRC
GenericName=IRC Chat #siduction
GenericName[de]=IRC Chat #siduction-de
Categories=Network;
